---
const today = new Date();
const hasBefore = Astro.slots.has('before');
---

<footer>
	{
		hasBefore && (
			<div class="before">
				<slot name="before" />
			</div>
		)
	}
	<p>&copy; {today.getFullYear()} cbug.dev</p>
	<p class="disclaimer">
	</p>
</footer>

<style>
	footer {
		margin-top: 5rem;
		padding: 1.25rem 1rem;
		color: var(--text-secondary);
		text-align: center;
		font-size: 0.9em;
	}

	.before {
		margin-bottom: 0.55rem;
	}

	footer p {
		margin: 0.15em 0;
	}

	.disclaimer {
		font-size: 0.85em;
	}
</style>
